@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Times New Roman", "Roboto Condensed";
  margin: 0px;
  padding: 0px;
}
.navbar {
  width: 1100px;
  margin: auto;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo {
  font-size: 48px;
  font-weight: 500;
  float: left;
  margin-right: 30px;
  font-family: "Maven Pro";
  color: #172e44;
}
.menu {
  float: right;
}
nav {
  border-top: 3px solid #ffffff;
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: fixed;
  z-index: 1000;
  background-color: #f5f5f5;
  font-family: "Poppins";
}
nav ul {
  list-style-type: none;
  overflow: hidden;
}
nav ul li {
  float: left;
  margin: 0 0 5px 0;
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 33px;
  color: #000;
  width: fit-content;
  box-sizing: border-box;
}
nav ul li a {
  color: #172e44;
  font-weight: initial;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}
.buku-biru {
  background: url(elements/buku-biru.jpeg) 50% / cover no-repeat;
  position: absolute;
  right: 10%;
  bottom: 4.5rem;
  height: 550px;
  width: 36%;
}
.opening h1 {
  top: 20px;
  height: 56vh;
  float: left;
  left: 11%;
  width: 50%;
  padding: 9rem 10rem 5rem 10rem;
  color: #364554;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
}
.opening p {
  padding: 9rem 10rem 3rem 10rem;
  position: absolute;
  text-align: left;
  height: 55vh;
  width: 60%;
  bottom: 6px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins";
  color: #757a7e;
}
.regin {
  position: absolute;
  bottom: 10vh;
  float: left;
  left: 10.5%;
}
ul li {
  margin-bottom: -121px;
  overflow-wrap: break-word;
  font-family: "Maven Pro";
  font-weight: 600;
  font-size: 22px;
  color: #222222;
  width: auto;
  display: inline-block;
  box-sizing: border-box;
}
ul li a {
  padding: 30px;
  text-decoration: none;
  text-align: center;
}
.regis {
  background-color: #172e44;
  display: inline-block;
  padding: 7px 47px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}
.log-in {
  color: #172e44;
  background-color: #ffffff;
  display: inline-block;
  padding: 7px 47px;
  border: 1px solid #172e44;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 20px;
}
.separator {
  height: 70px;
  background-color: #f5f5f5;
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: -35px;
}
.contact {
  border-bottom: 2px #e0e0e0;
  overflow-wrap: break-word;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  margin: auto;
}
.contact a {
  font-family: "Poppins";
  font-weight: 700;
  color: #172e44;
  text-decoration: none;
  margin: 0 10px;
}
.contact a:hover {
  text-decoration: none;
}
.contact img {
  width: 41px;
  height: 41px;
}
.guru {
  background-color: #f5f5f5;
  font-size: 26px;
  text-align: center;
  justify-content: center;
  padding: 30px 0 35px 0;
  font-family: "Poppins";
  color: #364554;
  margin-top: 60px;
}
.teacher {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  height: 60vh;
  width: 100%;
  padding: 0 10px 5px 10px;
}
.teacher img {
  width: 200px;
  height: 200px;
}
.arabella,
.christopher,
.theodore {
  background-color: #ffffff;
  border-radius: 10px;
  height: 51vh;
  padding: 15px 30px 40px 30px;
  margin: 30px 100px 4px 100px;
}
.teacher h4 {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 700;
}
.teacher i {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 200;
}
.class {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  color: #364554;
  justify-content: center;
  background-color: #f5f5f5;
}
.class h3 {
  font-size: 26px;
  text-align: center;
  padding: 30px 0 35px 0;
  font-family: "Poppins";
  color: #364554;
}
.class p {
  text-align: center;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 200;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 4fr); /* Membuat 3 kolom */
  gap: 15px;
  background: linear-gradient(#f5f5f5, #ffffff);
}
.kelas {
  background-color: #ffffff;
  border-radius: 10px;
  height: 150px;
  width: 200px;
  padding: 15px 30px 50px 30px;
  margin: 30px 150px 4px 150px;
}
.kelas img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: -30px 140px 0 135px;
}
.kelas h2,
.kelas small,
.kelas h3 {
  font-family: "Poppins";
  font-weight: 600;
}
.kelas h3 {
  font-size: 22px;
}
.kelas h2,
.kelas small {
  font-family: "Maven Pro";
  font-weight: 800;
}
.kelas h2 {
  font-size: 24px;
}
.kelas p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 16px;
  color: #000;
}
.kelas a {
  color: #fff;
  background-color: #364554;
  border: 1px;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 5px 10px 5px 10px;
}
footer {
  margin-top: 40px;
  background-color: #111;
  height: 15rem;
  color: #f5f5f5;
}
.us {
  position: relative;
  display: flex;
  justify-content: right;
  right: 10%;
  top: 5rem;
}
.us a {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.us a:hover {
  text-decoration: none;
}
.us img {
  width: 35px;
  height: 35px;
}
.educatify {
  position: relative;
  justify-content: left;
  left: 8%;
  top: -7.5rem;
}
.educatify h4,
.footer-nav h4 {
  color: #8c48ff;
}
.educatify p {
  color: #fff;
  width: 100%;
  padding: 1.5rem 70rem 0 1.5rem;
}
.us {
  position: relative;
  top: 3rem;
}
.us h4 {
  position: relative;
  top: 3rem;
  color: #8c48ff;
}
.us img {
  position: relative;
  top: 5rem;
  right: 5%;
  gap: 10px;
}
.footer-nav {
  top: 1.5rem;
  display: grid;
  position: relative;
  justify-content: center;
  gap: 15px;
}
.footer-nav a {
  color: #fff;
  text-decoration: none;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-bottom {
  margin-top: -5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  background-color: #111;
}
.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.footer-bottom a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  font-size: 14px;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
