@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  width: 1100px;
  margin: auto;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo {
  font-size: 42px;
  font-weight: 500;
  float: left;
  font-family: "Maven Pro";
  color: #172e44;
}
.menu {
  float: right;
}
nav {
  border-top: 3px solid #ffffff;
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: fixed;
  z-index: 1000;
  background-color: #f5f5f5;
  font-family: "Poppins";
}
nav ul {
  list-style-type: none;
  overflow: hidden;
}
nav ul li {
  float: left;
  margin: 0 0 5px 0;
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 33px;
  color: #000;
  width: fit-content;
  box-sizing: border-box;
}
nav ul li a {
  color: #172e44;
  font-weight: initial;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}
body {
  font-family: "Arial", sans-serif;
}
h1 {
  padding: 140px 0 5px 0;
  font-weight: 700;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  text-align: left;
}
th {
  font-family: "Maven Pro";
  background-color: #343a40;
  color: white;
}
tr:nth-child(even) {
  background-color: #f8f9fa;
}
tr:hover {
  background-color: #e9ecef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 4);
  transition: box-shadow 0.3 ease;
}
.edit,
.delete {
  text-align: center;
}
.edit a,
.delete a {
  text-decoration: none;
  padding: 8px 15px;
  background-color: #222;
  color: #f5f5f5;
  border-radius: 5px;
  transition: #222 0.3s ease;
}
.edit a:hover,
.delete a:hover {
  background-color: #555;
}
.add {
  color: #000;
  text-decoration: none;
  background-color: #f5f5f5;
  position: relative;
  padding: 15px 41.5rem 15px 41.5rem;
  font-family: "Poppins";
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  font-weight: 400;
}
.add a:hover {
  background-color: #e9ecef;
}
