@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Times New Roman", "Roboto Condensed";
  margin: 0px;
  padding: 0px;
}
.navbar {
  width: 1100px;
  margin: auto;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo {
  font-size: 48px;
  font-weight: 500;
  float: left;
  margin-right: 30px;
  font-family: "Maven Pro";
  color: #172e44;
}
.menu {
  float: right;
}
nav {
  border-top: 3px solid #ffffff;
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: fixed;
  z-index: 1000;
  background-color: #f5f5f5;
  font-family: "Poppins";
}
nav ul {
  list-style-type: none;
  overflow: hidden;
}
nav ul li {
  float: left;
  margin: 0 0 5px 0;
  overflow-wrap: break-word;
  font-weight: 300;
  font-size: 33px;
  color: #000;
  width: fit-content;
  box-sizing: border-box;
}
nav ul li a {
  color: #172e44;
  font-weight: initial;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}
.buku-biru {
  background: url(../elements/buku-biru.jpeg) 50% / cover no-repeat;
  position: absolute;
  right: 10%;
  bottom: 4.5rem;
  height: 550px;
  width: 36%;
}
.opening h1 {
  top: 20px;
  height: 56vh;
  float: left;
  left: 11%;
  width: 50%;
  padding: 9rem 10rem 5rem 10rem;
  color: #364554;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
}
.opening p {
  padding: 9rem 10rem 3rem 10rem;
  position: absolute;
  text-align: left;
  height: 55vh;
  width: 60%;
  bottom: 6px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins";
  color: #757a7e;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Membuat 3 kolom */
  gap: 15px;
  background: linear-gradient(#f5f5f5, #ffffff);
  position: absolute;
  top: 43rem;
  right: 0%;
}
.kelas {
  background-color: #ffffff;
  border-radius: 10px;
  height: auto;
  width: 15rem;
  padding: 15px 30px 50px 30px;
  margin: 30px 150px 11px 150px;
}
.kelas h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 22px;
}
.kelas h4 {
  font-family: "Maven Pro";
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.kelas a {
  display: grid;
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin: 10px 5px;
}
.buy {
  background-color: #364554;
}
.separator {
  height: 70px;
  background-color: #f5f5f5;
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: -18rem;
}
.contact {
  border-bottom: 2px #e0e0e0;
  overflow-wrap: break-word;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  margin: auto;
}
.contact a {
  font-family: "Poppins";
  font-weight: 700;
  color: #172e44;
  text-decoration: none;
  margin: 0 10px;
}
.contact a:hover {
  text-decoration: none;
}
.contact img {
  width: 41px;
  height: 41px;
}
