@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: "Times New Roman", "Roboto Condensed";
  margin: 0px;
  padding: 0px;
}
.navbar {
  width: 1100px;
  margin: auto;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo {
  font-size: 49px;
  font-weight: 700;
  float: left;
  margin-right: 30px;
  font-family: "cambria", "Roboto Condensed";
  color: #fff;
}
.menu {
  float: right;
}
.is1 {
  background: url(../elements/ikon\ surabaya\ 1.jpeg) 50% / cover no-repeat;
  position: absolute;
  left: 142px;
  top: -78px;
  width: 365px;
  height: 535px;
}
nav {
  border-top: 3px solid #ffffff;
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: fixed;
  z-index: 1000;
  background-color: #222222;
  font-family: "Cambria", "Roboto Condensed";
}
nav ul {
  list-style-type: none;
  overflow: hidden;
}
nav ul li {
  float: left;
  margin: 0 0 5px 0;
  overflow-wrap: break-word;
  font-family: "Times New Roman", "Roboto Condensed";
  font-weight: 400;
  font-size: 33px;
  color: #ffffff;
  width: fit-content;
  box-sizing: border-box;
}
nav ul li a {
  color: #ffffff;
  font-weight: initial;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 1.6rem;
}
.sbs {
  position: absolute;
  top: 100px;
  right: -0.2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 110px;
  box-sizing: border-box;
}
.sb {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Times New Roman", "Roboto Condensed";
  font-weight: 700;
  font-size: 122px;
  color: #364554;
}
.surabaya {
  position: absolute;
  right: 154px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: "Times New Roman", "Roboto Condensed";
  font-weight: 700;
  font-size: 122px;
  color: #757a7e;
}
.intro {
  position: absolute;
  bottom: 5px;
  left: 50px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Cambria", "Roboto Condensed";
  overflow-wrap: break-word;
  color: #172e44;
  padding: 25px;
}
.is2 {
  background: url(../elements/ikon\ surabaya\ 2.png) 50% / cover no-repeat;
  position: absolute;
  bottom: -69px;
  right: 0;
  width: 720px;
  height: 434px;
}
.separator {
  height: 70px;
  background-color: #222222;
  bottom: -131px;
  position: absolute;
  padding: 20px;
  width: 100%;
}
.contact {
  overflow-wrap: break-word;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  margin: auto;
}
.contact a {
  font-family: "Poppins";
  font-weight: 100;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.contact a:hover {
  text-decoration: none;
}
.contact img {
  width: 41px;
  height: 41px;
}
.profil {
  margin: 30px 0 30px 200px;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 92px;
  color: #172e44;
}
.profil h1 {
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 72px;
  left: 150px;
  color: #172e44;
}
.main {
  padding: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 1300px;
  height: 400px;
  background-color: #fafafa;
  margin: 0 auto;
  padding-top: 15px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}
.main h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins";
  color: #2f4454;
  margin: 30px 300px 50px 0;
  display: inline-block;
  overflow-wrap: break-word;
  color: #000000;
}
.welcome {
  text-align: center;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-size: 21px;
  color: #364554;
}
.foto-profil {
  border-radius: 150px;
  background: url("../elements/best1.jpg") 50% / cover no-repeat;
  position: absolute;
  top: 125px;
  right: 250px;
  width: 250px;
  height: 250px;
}
.footer {
  background-color: white;
  width: 100%;
  position: absolute;
  height: 50px;
  margin-bottom: 50px;
}
